# System files
.DS_Store
Thumbs.db
*.log

# Temp and scratch directories
scratch/
temp/
tmp/

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependencies
node_modules/

# Android Build Outputs
.gradle/
android/app/build/
